.Formdiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

table{
    width: 100%;    
}

textarea {
    width: 100%;    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;    
  }

  button {
    width: 100%;
    background-color: #2949CD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #29C3CD;
  }
  